
.contenedor-grande{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 800px;
    border: 1px solid rgb(134, 133, 133);
    
}

.container {
    width: 100px;
    height: 100px;
    background-color: #c5c2c2;
    margin: 10px;
    position: relative;
}

.rojo{
    width: 60px;
    height: 60px;
    background-color: #ff0000;
}

.verde{
    width: 30px;
    height: 30px;
    background-color: #008000;
}

.verde-uno{
    position: relative;
    left: 70px;
    top:10px
}

.rojo-dos{
   position: absolute;
   top: 40px; 
}
.verde-dos{
    position: absolute;
    left: 70px;
}

.verde-tres{
    position: absolute;
    left: 70px;
    top:0;
}

.rojo-tres{
    position: absolute;
    top: 40px;
    left: 40px;
}

.rojo-cuatro{
    position: absolute;
    top:40px
}

.verde-cuatro{
    position: absolute;
    top:70px;
    left: 30px;
}
.rojo-cinco{
    position: absolute;
    left: 40px;
}

.verde-cinco{
    position: absolute;
    top:30px;
    left: 40px;
}

.rojo-seis{
    position: absolute;
    left: 40px;
    bottom: 0px;
}

.verde-seis{
    position: absolute;
    left: 70px;
    top: 40px;
}
.rojo-siete{
    position: relative;
    left: 20px;
}
.verde-siete{
    position: relative;
    top:10px;
}


.rojo-ocho{
    position: absolute;
    left: 20px;
    bottom: 0;

}
.verde-ocho{
    position: absolute;
    left: 35px;
    bottom: 0;
}

.rojo-nueve{
    position: absolute;
    left: 20px;
    top:20px
}

.verde-nueve{
    position: absolute;
    left: 35px;
    top:35px
}