body{
    margin: 0;
    background-color:rgb(125, 230, 195);
}
.header{
    background-color:rgb(99, 189, 245);
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.menu{
    margin: 5px;
    padding: 10px;
    color: hsla(0, 0%, 100%, 0.767);
    font-size: 50px;
}

.contenedor-iconos{
    margin: 5px;
    padding: 10px;
    display: flex;
    color: #ffffff;
    font-size: 50px;
    width: 300px;
    justify-content: space-between;
}

.contenedor-iconos >.fa-ellipsis-v {
    color: hsla(0, 0%, 100%, 0.767);
}
.notificacion{
    width: 20px;
    height: 20px;
    background-color: rgb(238, 77, 77);
    font-size: 14px;
    padding: 2px;
    text-align: center;
    border-radius: 100%;
}

.diez{
    position: absolute;
    right: 255px;
    top:5px;
}
.cinco{
    position: absolute;
    right: 172px;
    top:5px;
}
.tres{
    position: absolute;
    right: 73px;
    top:5px;
}