.card{
    width: 400px;
    height: 400px;
    background-color: pink;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    
    
}
.contenedor-imagen{
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid palevioletred;
    margin-left: 100px;
    margin-top: 50px;
}


img{
    width: 100%;
}
.contenedor-bandera{
    width: 70px;
    height: 50px;
    position: relative;
    left: 230px; /*Alejate de tu izquierda*/
    bottom: 170px;/*Alejate de tu bottom*/
}


